[package]
name = "offgrid-primitives"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
bincode = "1.3"
rust-rocksdb = "0.26"
tempfile = "3.12"

